@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 213 55% 15%;
    --card: 0 0% 100%;
    --card-foreground: 213 55% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 213 55% 15%;
    --primary: 213 55% 23%;
    --primary-foreground: 0 0% 98%;
    --secondary: 174 50% 96%;
    --secondary-foreground: 213 55% 23%;
    --muted: 174 50% 96%;
    --muted-foreground: 213 25% 55%;
    --accent: 174 59% 57%;
    --accent-foreground: 213 55% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 174 59% 57%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 213 55% 10%;
    --foreground: 0 0% 98%;
    --card: 213 55% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 213 55% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 213 55% 23%;
    --secondary: 213 55% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 213 55% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 174 59% 57%;
    --accent-foreground: 213 55% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 213 55% 20%;
    --input: 213 55% 20%;
    --ring: 174 59% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
